
.App {
  text-align: center;
  color: white;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-movement infinite 10s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-movement {
  0% {
      transform: translate(0)
  }
  20% {
      transform: translate(-4px, 4px)
  }
  40% {
      transform: translate(-4px, -4px)
  }
  60% {
      transform: translate(4px, 4px)
  }
  80% {
      transform: translate(4px, -4px)
  }
  to {
      transform: translate(0)
  }
}

.cards {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto;
  width:50%;
  position: relative;
}

.img-cards {
  height: 200px;
  width: 150px;
  opacity: 1;
}

.overlay {
  height: 200px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
}

.card:hover .img-cards{
  opacity:0.5;
}

.card:hover .overlay{
  opacity: 1;
}

.text{
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(0%, -140%);
  text-align: center;
  
}



